/* * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All page */
.allPage {
    background: linear-gradient(#ffad42, #e65a23);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* playground */
.playground {
        width: 90%;
        height: 90%;
        /* background: #d1ccb4; */
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0));
        position: relative;
        border-radius: 20px;
}

/* players */
.player {
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin-top: 10px; 
    border: 0;
    border-radius: 20px;
    background: #c7b0a6;   
}
/* chanching sides */
.players .left {
    left: 10px;
}
.players .right {
    right: 10px;
}






/* another things about players */
.serving {
    background: #e65a23;
}

.name {
    cursor: pointer;
}
/* score buttons */

.score {
    width: 100px;
    height: 100px;
    font-size: 50px;
    border: 0;
    border-radius: 20px;
    color: white;
    transition: all 300ms ease-out;
    cursor: pointer;
}
.score0 {
    background: #ca2222;
}
.score1 {
    background: #ecc30a;
}
.score0:hover {
    background: #da3232;
}
.score1:hover {
    background: #fcd31a;
}

/* buttons in the middle */
.middleBTNs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
.middleBTNs button {
    text-align: center;
    display: inline-block;
    padding: 20px;
    border: 0;
    border-radius: 20px;
    background: #f1d1d1;
    transition: all 300ms ease-out;

    cursor: pointer;
}
.middleBTNs button:hover {
    background: #e5c4c4;

}

.middleBTNs button p {
    color: #909090;
    font-weight: bold;
    font-size: 150%;
}

/* sets (text below) and max sets (same position) */
.sets {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 100px;
}

.maxSetsInput {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    opacity: 0;
    transition: all 400ms;
    
}
.maxSetsInput:focus {
    outline: none;
}

.maxSetsBTN {
    text-align: center;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px;
    width: 100%;
    height: 100%;
    color: coral;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    transition: border-radius 700ms;
    
}

/* if it is driven (google translate :D) */
.sets.active .maxSetsInput {
    transform: translateY(-50px);
    border-radius: 20px 20px 0 0;
    opacity: 1;

}
.sets.active .maxSetsBTN {
    border-radius: 0 0 20px 20px;
}
input:disabled {
    background-color: #ffdf8ea6;
}